<ul class="form">

	{{debug this}}
	<li>
		<p> {{#if parametrizable }} Can be edited. {{else}} Non editable{{/if}}</p>
		<p>schema : {{parameters_schema}}</p>
		<p>can be param : {{parameters_default}}</p>
	</li>

	{{#each propertiesOk}}
		<li>
			<label>name : {{name}}</label>
			<label>type : {{type}} </label>
			<label>default : {{default}}</label>

			{{{timeside_parameter this}}}
		</li>

	{{/each}}
	<li>
		<label>Update parameters</label>
		<button class="button green" data-layout="update_params"><sprite class="content">
      update  
    </sprite></button>


	<li>
		<label>Delete track</label>
		<button class="button red" data-layout="delete_track"><sprite class="content">
      delete  
    </sprite></button>
	</li>
</ul>